/* Fonts
--------------------------------*/

@font-face {
    font-family: 'TruenoBd';
    src: url(../fonts/TruenoBd.otf);
}

@font-face {
    font-family: 'TruenoLt';
    src: url(../fonts/TruenoLt.otf);
}

@font-face {
    font-family: 'TruenoUltBlk';
    src: url(../fonts/TruenoUltBlk.otf);
}

/* Global styles
--------------------------------*/

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "TruenoLt", Helvetica, sans-serif;
}

.btn {
    border: none;
    border-radius: 0;
    color: white;
}

/* Header 
--------------------------------*/

#header-top {
    background-color: #472424;
    height: 30px;
}

.navbar {
    background-color: #623232;
    min-height: 75px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #ff7373;
}

.price {
    font-size: 0.95rem;
    color: white;
}

.register {
    background-color: #ff7373;
    min-height: 75px;
}

.login {
    min-height: 75px;
    background-color: #623232;
}

/* Footer 
--------------------------------*/